body {
    color: #333333;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    line-height: 1.80857;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.sliders__img-tagline a.hover-btn-new::before, .sliders__img-tagline a.hover-btn-new::after {
    background: #fff;
    content: '';
    position: absolute;
    z-index: 1;
}

.hover-btn-new span {
    position: relative;
    z-index: 2;
}

.sliders__img-tagline a.hover-btn-new::before, .sliders__img-tagline a.hover-btn-new::after {
    background: #fff;
    content: '';
    position: absolute;
    z-index: 1;
}

.hover-btn-new::before {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.hover-btn-new::after {
    background: #eea412 !important;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.box-w100 {
    width: 100% !important;
    margin: 0 auto;
}

.box {
    width: 1140px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

b, strong {
    font-weight: bolder;
}


.text-center {
    text-align: center;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
}



/*------------------------------------------------------------------
    HEADERS
-------------------------------------------------------------------*/

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.top-navbar .bg-light {
    padding-top: 0px;
    padding-bottom: 0px;
    box-shadow: 0 0 18px 0 rgba(0,0,0,.12);
}

.top-navbar .bg-light {
    background: #4c5a7d !important;
}

.bars {
    display: none;
}

.nav {
    display: flex;
}

.navbar--brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

a, .btn {
    text-decoration: none !important;
    outline: none !important;
    transition: all .3s ease-in-out;
}

.navbar .navbar--brand {
    color: rgba(0,0,0,.9);
}

.navbar .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.navbar .navbar-nav {
    flex-direction: row;
}

.ml-auto, .mx-auto {
    margin-left: auto!important;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.top-navbar .navbar .navbar-nav .nav-item {
    position: relative;
    display: inline-block;
    padding: 15px 0px;
    margin: 0px 20px;
}

.top-navbar .navbar .navbar-nav .nav-item.active .nav-link {
    color: #eea412;
}

.top-navbar .navbar .navbar-nav .nav-item .nav-link {
    padding: 6px 0px;
    position: relative;
    display: block;
    line-height: 30px;
    letter-spacing: 0px;
    text-transform: uppercase;
}

.top-navbar .navbar .navbar-nav .nav-link {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}

.navbar-nav .nav-item .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 5px;
    background-color: #eea412;
}

.navbar-nav .nav-item .nav-link:hover::after {
    width: 100%;
    transition: all 0.3s ease;
}

.navbar-nav .nav-item .nav-link.active::after {
    width: 100%;
    transition: all 0.3s ease;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none !important;
    position: absolute;
}

.dropdown:hover .dropdown-menu {
    display: flex !important;
    flex-direction: column;
}

.top-navbar .navbar .navbar-nav li .dropdown-menu {
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.12);
    border: none;
    border-radius: 0px;
    margin: 10px 0;
    padding: 10px;
    background-color: #ffffff;
    z-index: 999;
}

.dropdown-item {
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    font-size: medium;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item:hover {
    background: #eea412;
    color: #ffffff;
}

.navbar-right li a {
    position: relative;
    font-size: 18px; 
    color: black;
    background-color: #fff;
}

.hover-btn-new {
    color: #ffffff;
    display: inline-block;
    font-weight: 400;
    line-height: 46px;
    padding: 0 17px;
    text-transform: uppercase;
    position: relative;
    border: 2px solid #fff;
    font-size: 14px;
    border-radius: 2px;
}

.orange {
    border-color: #eea412;
}

.orange:hover{
    background-color: #eea412;
    color: #fff;
    transition: all 0.5s;
}



/*------------------------------------------------------------------
    TESTIMONIALS
-------------------------------------------------------------------*/
.sliders {
    width: 100%;
    height: 900px;
    position: relative;
}

.sliders .sliders__img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.sliders .sliders__img.img1 {
    background-image: url('images/slider-01.jpg');
    background-position: center;
    background-size: cover;
}

.sliders .sliders__img.img2 {
    background-image: url('images/slider-02.jpg');
    background-position: center;
    background-size: cover;
}

.sliders .sliders__img.img3 {
    background-image: url('images/slider-03.jpg');
    background-position: center;
    background-size: cover;
}

.sliders__img::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    display: block;
    background: rgba(0,0,0,0.5);
}

#img1, #img2, #img3 {
    display: none;
}

.s-prev, .s-next {
    position: absolute;
    top: 40%;
    z-index: 99;
    background: #eea412;
}

.s-prev i, .s-next i {
    padding: 20px;
    color: #fff;
    font-size: 50px;
    cursor: pointer;
    background-color: #eea412;
}

.s-prev {
    left: 0;
}

.s-next {
    right: 0;
}

.sliders__img-nav {
    width: 100%;
    height: 12px;
    bottom: 5%;
    position: absolute;
    text-align: center;
    z-index: 99;
}

.dots {
    top: -5px;
    width: 50px;
    height: 5px;
    margin: 0 4px;
    position: relative;
    display: inline-block;
    background-color: rgba(70, 63, 63, 0.712);
    cursor: pointer;
}

.sliders__img {
    z-index: -1;
}

#img1:checked ~ #one,
#img2:checked ~ #two,
#img3:checked ~ #three {
    z-index: 9;
}

#img1:checked ~ .sliders__img-nav #dot1,
#img2:checked ~ .sliders__img-nav #dot2,
#img3:checked ~ .sliders__img-nav #dot3 {
    background: #fff;
}

.sliders__img-tagline {
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    z-index: 99;
    width: 80%;
    height: 400px;
    margin: 0 auto;
}

.sliders__img-tagline h2 {
    color: #ffffff;
    font-size: 68px;
    font-weight: 300;
    text-transform: capitalize;
    display: block;
    margin: 0;
    padding: 0 0 30px;
    position: relative;
    text-align: center;
    animation-name: heading;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes heading {
    0% {top: -150px;}
    100% {top: 50px;}
}

.sliders__img-tagline h2 strong{
    color: #eea412;
}

.sliders__img-tagline p {
    position: relative;
    font-size: 21px;
    font-weight: 300;
    padding: 0 0 40px;
    margin: 0;
    line-height: inherit;
    color: #ffffff;
    text-align: center;
    animation-name: param;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes param {
    0% {left: -1000px;}
    100% {left: 0;}
}

.sliders__img-tagline a {
    font-size: 18px;
    color: #333333;
    font-weight: 500;
    position: relative;
    left: 40%;
    bottom: 0;
    opacity: 0;
    animation-name: btn;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}

.sliders__img-tagline a:hover {
    color: #fff;
}

@keyframes btn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}




/*------------------------------------------------------------------
    ABOUT
-------------------------------------------------------------------*/


#overviews {
    width: 100%;
    overflow: hidden;
    padding: 70px 0;
}

.section__title-offset {
    width: 80%;
    margin: 0 auto;
}

.section__title {
    margin-bottom: 60px;
}

.section__title h3 {
    color: #333333;
    font-size: 42px;
    font-weight: 500;
    line-height: 62px;
    margin: 0 0 25px;
    padding: 0;
    text-transform: none;
}

.section__title p {
    color: #999;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    margin: 0;
}

.align-items-center {
    margin-bottom: 30px;
}

.section__content-about {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content__about {
    padding: 0 15px;
}

.-img-content img{
    width: 100%;
}

.-message-box h4 {
    text-transform: uppercase;
    padding: 0;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 15px;
    color: #eea412;
}

.-message-box h2 {
    font-size: 38px;
    font-weight: 400;
    padding: 0 0 10px;
    margin: 0;
    line-height: 50px;
    margin-top: 0;
    text-transform: none;
}

.-message-box p {
    margin-bottom: 20px;
}

.-message-box a {
    position: relative;
    font-size: 18px;
    display: inline-block;
}

.-message-box a.hover-btn-new::before, .-message-box a.hover-btn-new::after {
    background: #eea412;
    content: '';
    position: absolute;
    z-index: 1;
}

.-message-box a.hover-btn-new::before {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.-message-box a.hover-btn-new span {
    position: relative;
    z-index: 2;
    color: #fff;
}

.-message-box a.hover-btn-new::after {
    background: #333333 !important;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.-message-box a.hover-btn-new:hover::after {
    opacity: 0;
    transition: all 0.3s ease;
}

#overviews:hover .-message-box > h4 {
    position: relative;
    opacity: 0;
    animation-name: heading4;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes heading4 {
    0% {top: -30px; opacity: 0;}
    100% {top: 0px; opacity: 1;}
}

#overviews:hover .content__about > .about__post-media > img {
    position: relative;
    animation: image 2s forwards;
}

@keyframes image {
    0% {top: -30px; }
    100% {top: 0; }
}


/*------------------------------------------------------------------
    HISTORY
-------------------------------------------------------------------*/
.section.lb {
    background-color: #f2f3f5;
    padding-top: 50px;
    padding-bottom: 50px;
}

.timeline {
    width: 100%;
}

.timeline .timeline__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "time12 time14 time15 time18";
}

.timeline__item {
    margin: 0 10px 50px 10px;
}

.-item-12 {
    grid-area: time12;
}

.-item-14 {
    grid-area: time14;
}

.-item-15 {
    grid-area: time15;
}

.-item-18 {
    grid-area: time18;
}

.timeline__content {
    width: 100%;
    height: 100%;
    padding: 15px 10px;
    border: 2px solid #eea412;
    border-radius: 25px;
}

.timeline__item .-img-bg-01 {
    background-image: url('images/img-01.jpg');
    background-position: center;
    background-size: cover;
}

.timeline__item .-img-bg-02 {
    background-image: url('images/img-02.jpg');
    background-position: center;
    background-size: cover;
}

.timeline__item .-img-bg-03 {
    background-image: url('images/img-03.jpg');
    background-position: center;
    background-size: cover;
}

.timeline__item .-img-bg-04 {
    background-image: url('images/img-04.jpg');
    background-position: center;
    background-size: cover;
}

.timeline__content h2, 
.timeline__content p {
    color: #fff;
    padding: 5px 10px;
}

.timeline__content h2 {
    margin: 5px 0 10px 0;
}

.section.cl {
    background-color: #2d3032;
    padding: 4rem 0;
}

.history__wrap {
    display: flex;
    background-position: 100px;
    color: #ffffff !important;
    background: #eea412;
    /* margin: 4rem 0; */
}

.wrap {
    flex: 1;
    display: flex;
    padding-left: 0.7rem;
}

.history__wrap .alignleft {
    margin-right: 30px;
}

.-icon_wrap {
    background-color: #fff;
    width: 100px;
    height: 100px;
    display: block;
    line-height: 100px;
    font-size: 34px;
    color: #ffffff;
    margin: 0 auto;
    text-align: center;
    padding: 0 !important;
    border: 0 !important;
}

.wrap img {
    width: 50%;
    margin-top: 30%;
    flex: 1;
}

.wrap .wrap__text {
    flex: 1;
}

.wrap p {
    font-size: 38px;
    font-weight: 600;
    line-height: 1;
    margin: 0;
    padding: 13px 0 0;
}

.wrap h3 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 0;
    line-height: 0.5;
}



/*------------------------------------------------------------------
    YOUR PLAN
-------------------------------------------------------------------*/
.section__message {
    margin: 0 auto;
}

.-message-box {
    padding: 20px 0px;
}

.nav-pills {
    border: 1px solid #e1e1e1;
    border-radius: 2px;
    padding: 10px;
}

a[data-toggle="pill"] {
    /* border: 1px solid black; */
    padding: 10px 30px;
    color: #333333;
}

a[data-toggle="pill"].active {
    background: #4babb1;
    color: #ffffff;
}

a[data-toggle="pill"]:hover {
    background-color: #2d3032;
    color: #fff;
}

a[data-toggle="pill"].active:hover {
    background: #4babb1;
    color: #ffffff;
}

a[href="#tab1"] {
    margin-right: 10px;
}

a[href="#tab2"] {
    margin-left: 10px;
}

.plan__tab-content {
    width: 100%;
    display: flex;
    margin-top: 30px;
}

.plan__tab-pane {
    width: 100%;
}

.plan__tab-pricing {
    flex: 1;
    margin: 0 15px;
}

.pricing-table {
    margin: 0px;
    background: #fff;
    box-shadow: 0 5px 14px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.pricing-table:hover {
    transform: scale(1.05,1.06);
    transition: 0.5s all ease;
}

.pricing-table-header {
    background: #2d3032;
    color: #fff;
    padding: 30px 0 25px 0;
}

.pricing-table-header:hover {
    background-position: 100px;
    color: #ffffff !important;
    background: #eea412;
}

.pricing-table-header h2 {
    font-size: 31px;
    margin: 0;
    padding: 0;
    font-weight: 500;
}

.pricing-table-header h3 {
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
    text-transform: uppercase;
}

.pricing-table-space {
    height: 10px;
}

.pricing-table-features {
    margin: 15px 30px 0 30px;
    padding: 0 10px 15px 30px;
    border-bottom: 1px solid #ececec;
    text-align: left;
    line-height: 30px;
    font-size: 16px;
    color: #c2c2c2;
}

.pricing-table-features p {
    margin-bottom: 20px;
}

.pricing-table i {
    width: 30px;
    color: #c2c2c2;
    display: inline-block;
    margin-right: 10px;
    padding-right: 5px;
    border-right: 1px solid #ececec;
}

.pricing-table strong {
    font-weight: 600;
    margin-right: 6px;
    color: #1f1f1f;
}

.pricing-table-sign-up a.hover-btn-new span {
    position: relative;
    z-index: 2;
    color: #fff;
}

.pricing-table-sign-up a.hover-btn-new::before, .pricing-table-sign-up a.hover-btn-new::after {
    background: #eea412;
    content: '';
    position: absolute;
    z-index: 1;
}

.pricing-table-sign-up a.hover-btn-new::before {
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.pricing-table-sign-up a.hover-btn-new::after {
    background: #333333 !important;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.pricing-table-sign-up {
    margin-top: 25px;
    padding-bottom: 30px;
}

.pricing-table-sign-up a {
    position: relative;
    font-size: 18px;
    display: inline-block;
}

.pricing-table-sign-up a.hover-btn-new:hover::after {
    background-color: #eea412 !important;
    color: #fff;
    transition: all 0.5s;
}



/*------------------------------------------------------------------
    TESTIMONIALS
-------------------------------------------------------------------*/

#testimonials {
    position: relative;
}

#testimonials:before {
    background: rgba(0,0,0,0.8);
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.section.db {
    background-color: #1f1f1f;
}

.parallax {
    position: relative;
}

.parallax-off {
    background-attachment: fixed !important;
    background-size: cover;
    display: block;
    overflow: hidden;
    position: relative;
    background-position: center center;
    vertical-align: sub;
    width: 100%;
    z-index: 2;
}

.section__title {
    display: block;
    position: relative;
    margin-top: 50px;
}

.title-testimonial h3 {
    color: #fff;
    font-size: 42px;
    font-weight: 500;
    line-height: 62px;
    margin: 20px 0 25px;
    padding: 0;
    text-transform: none;
}

.section__title p {
    color: #999;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    margin: 0;
}

.testimonial__carousel {
    display: block;
    width: 100%;
}

.testimonial__carousel-owl {
    position: relative;
    width: 500%;
    display: flex;
    margin: 0 auto;
    left: 0;
    animation: 20s slider infinite;
}

.testimonial__carousel-owl .testimonial__clearfix {
    padding-bottom: 50px;
}

@keyframes slider {
    0% {
        left: 0%
    }
    20% {
        left: 0%;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

.testimonial__clearfix {
    background-color: transparent;
    max-width: 550px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.testimonial__meta {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.testimonial__carousel-owl .owl-item img {
    display: block;
    width: 100%;
}

.testimonial__clearfix h4 {
    font-size: 18px;
    color: #ffffff;
    padding: 13px 0 0;
}

.testimonial__desc {
    padding: 30px;
    position: relative;
    background: #000;
    border: none;
    border-radius: 2px;
}

.testimonial__clearfix h3 {
    padding: 0 0 10px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

.testimonial__desc h3 i {
    color: #eea412;
    font-size: 37px;
    vertical-align: middle;
    margin-right: 12px;
}

.testimonial__clearfix small, .testimonial__clearfix .lead {
    background-color: transparent;
    color: #aaa;
    display: block;
    font-size: 16px;
    font-style: normal;
    line-height: 30px;
    margin: 0;
    padding: 0;
    position: relative;
}



/*------------------------------------------------------------------
    LOGO
-------------------------------------------------------------------*/
.parallax-logo {
    background: #eea412;
    width: 100%;
    padding: 3rem 0;
}

.logos .fadeInUp a img {
    opacity: 0.3;
}

.logos .fadeInUp a:hover img {
    opacity: 1;
}

.footer {
    padding: 90px 0 80px !important;
    color: #cccccc;
    background: #4c5a7d url("images/world-map.png") no-repeat center;
}

.footer__main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.footer__content {
    flex: 1;
}

.footer__widget-title h3 {
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    padding: 0;
    margin: 0;
    line-height: 1 !important;
    margin-bottom: 0.5rem;
}

.footer__widget p {
    margin-bottom: 0.5rem;
}

.footer__widget-right ul {
    display: flex;
}

.footer__widget-right ul li a i{
    font-size: 3rem;
    color: #fff;
    margin-right: 1rem;
}

.footer__widget-links li {
    margin-bottom: 5px;
    display: block;
    width: 80%;
    padding: 5px 0px;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
}

.footer__widget-links li a {
    color: #fff;
    opacity: 0.6;
}

.footer__widget-links li a:hover {
    opacity: 1;
}




/*------------------------------------------------------------------
    Copyright
-------------------------------------------------------------------*/

.copyrights {
    border-top: 1px dashed rgba(255, 255, 255, 0.1);
    background-color: #1f1f1f;
    width: 100%;
    padding: 10px 0px;
    overflow: hidden;
}

.copyrights__center {
    text-align: center;
}

.copyrights__distributed .copyrights__company-name {
    font-weight: 300;
    margin: 0 10px;
    color: #666;
    padding: 5px 0px;
}

.copyrights__distributed .copyrights__company-name a {
    color: #ffffff;
}

.copyrights__distributed .copyrights__company-name a:hover {
    color: #eea412;
}


/*------------------------------------------------------------------
    RESPONSIVE
-------------------------------------------------------------------*/

@media screen and (max-width: 1200px) {
    .box {
        width: 1100px !important;
    }
    .top-navbar .navbar .navbar-nav .nav-link {
        font-size: 0.9rem;
        font-family: 'Rubik', sans-serif;
    }

    .navbar-right li a {
        font-size: 16px;
    }

    .hover-btn-new {
        line-height: 40px;
    }

    .history__wrap {
        margin: 0 30px;
    }

    .logos {
        margin: 0 auto;
    }

    .logos .fadeInUp a img {
        width: 80%;
    }
}

@media screen and (max-width: 1125px) {
    .sliders__img-tagline h2 {
        font-size: 55px;
    }

    .top-navbar .navbar .navbar-nav .nav-item {
        margin: 0px 10px;
    }

    .navbar-right li a {
        font-size: 16px;
    }

    .hover-btn-new {
        line-height: 40px;
    }

    .logos__content {
        width: 160px;
    }

    .footer__main {
        width: 90%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1115px) {
    .box {
        width: 1000px !important;
    }
}

@media screen and (max-width: 1025px) {
    .box {
        width: 960px !important;
    }

    .logos__content {
        width: 140px;
    }

    .plan__tab-pricing {
        margin: 0 10px;
    }

    .pricing-table-header {
        padding: 20px 0 20px 0;
    }

    .pricing-table-header h2 {
        font-size: 24px;
    }

    .pricing-table-header h3 {
        font-size: 14px;
        margin-top: 5px;
    }

    .pricing-table-features {
        margin: 10px 20px 0 10px;
        font-size: 15px;
        line-height: 20px;
    }

    .nav .bars.navbar-collapse {
        display: none !important;
    }
}



@media screen and (max-width: 996px) {

    .box {
        max-width: 960px;   
    }

    .log {
        background-color: #fff;
        color: #000;
    }

    .s-prev i, .s-next i {
        padding: 20px;
        font-size: 36px;
    }

    .pricing-table {
        width: 50%;
        height: 450px;
        margin: 15px auto;
    }

    .pricing-table-header {
        padding: 20px 0;
    }

    .pricing-table-header h2 {
        font-size: 24px;
    }

    .pricing-table-header h3 {
        font-size: 18px;
        margin-top: 0;
    }

    .pricing-table-features {
        margin: 15px 25px 0 15px;
        font-size: 16px;
        line-height: 20px;
    }

    .pricing-table-sign-up {
        margin-top: 15px;
        padding-bottom: 15px;
    }

    .pricing-table-sign-up a {
        font-size: 16px;
        margin-top: 0.3rem;
    }

    .plan__tag-show {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .-message-box a {
        position: relative;
        font-size: 16px;
        display: inline-block;
    }

    .section__title h3 {
        font-size: 36px;
        line-height: 50px;
    }

    .section__title p {
        margin: 0 auto;
        width: 80%;
    }

    .collapse ul {
        display: none;
    }

    .bars {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        
    }

    .bars ul {
        width: 100%;
    }

    .bars ul li {
        margin-left: auto;
    }

    .bars .nav-bars ul {
        display: none !important;
        position: absolute;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        z-index: 999;
        right: 0;
        top: 50px;
        background-color: #4c5a7d;
        width: 100%;padding: 10px 0;
    }

    .bars .nav-bars ul li {
        margin-left: auto;
    }

    .bars .nav-bars ul li a {
        text-align: end;
        font-family: 'Rubik', sans-serif;
    }

    .navbar-nav .nav-item .nav-link:hover::after {
        width: 0%;
    }

    .navbar-nav .nav-item .nav-link:hover {
        color: #eea412;
    }

    .navbar-nav .nav-item .nav-link.active::after {
        width: 0%;
    }

    .dropdown-menu {
        position: relative;
    }

    .bars ul i {
        font-size: 30px;
        color: #eea412;
        cursor: pointer;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .bars ul i:hover .nav-bars ul {
        display: flex !important;
    }

    .timeline .timeline__items {
        grid-template-columns: 1fr 1fr;
        width: 60%;
        margin: 0 auto;
        grid-template-areas: "time12 time14" "time15 time18";
    }

    .history__wrap {
        width: 90%;
    }

    .wrap p {
        font-size: 24px;
    }

    .wrap h3 {
        font-size: 16px;
    }
    
}

@media screen and (max-width: 900px) {
    .box {
        width: 860px !important;
    }

    .sliders {
        height: 800px;
    }

    .sliders__img-tagline {
        top: 40%;
    }


    .sliders__img-tagline p {
        font-size: 18px;
        padding: 10px 0 40px;
    }

    .sliders__img-tagline h2 {
        font-size: 50px;
        line-height: 1.3;
    }

    .section__content-about {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .-img-1 {
        grid-row: 1 / 2;
    }

    .wrap h3 {
        font-size: 16px;
        line-height: 1;
    }

    .logos {
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 800px) {
    .box {
        width: 740px !important;
    }

    .timeline .timeline__items {
        width: 80%;
    }

    .wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .history__wrap .alignleft {
        margin-right: auto;
    }

    .wrap p {
        font-size: 28px;
        text-align: center;
    }

    .wrap h3 {
        font-size: 20px;
        line-height: 1.5;
    }
}

@media screen and (max-width: 700px) {
    .box {
        width: 640px !important;
    }

    .pricing-table {
        width: 70%;
    }

    .footer__widget-title h3 {
        font-size: 26px;
    }

    .footer__main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__content {
        text-align: center;
        margin-bottom: 20px;
    }

    .footer__widget-right ul {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 600px) {
    .box {
        width: 470px !important;
    }
    
    .section__content-about {
        grid-template-rows: 320px 1fr 320px 1fr;
    }

    .timeline .timeline__items {
        grid-template-columns: 1fr;
        width: 60%;
        grid-template-areas: "time12" "time14" "time15" "time18";
    }

    .sliders__img-tagline a {
        font-size: 16px;
        left: 20%;
    }
    
    .history__wrap {
        width: 100%;
        margin: 0 auto;
    }
    .wrap h3 {
        text-align: center;
    }

    .-message-box a {
        font-size: 14px;
    }
}

@media screen and (max-width: 460px) {
    .box {
        width: 400px !important;
    }


    .dropdown-item {
        font-size: small;
    }

    .sliders {
        height: 700px;
    }

    .s-prev i, .s-next i {
        padding: 15px;
        font-size: 24px;
    }

    .timeline .timeline__items {
        width: 80%;
    }

    .sliders__img-tagline h2 {
        font-size: 40px;
    }

    .sliders__img-tagline p {
        font-size: 16px;
        padding: 20px 0 40px;
    }

    .pricing-table {
        width: 95%;
    }

    .section__title p {
        font-size: 0.9rem;
        line-height: 1.5;
    }

    .nav-pills {
        display: flex;
        flex-direction: column;
    }

    .-message-box a {
        font-size: 14px;
        width: 200px;
        margin: 0 auto;
    }

    .-message-box h4 {
        font-size: 13px;
    }

    .-message-box h2 {
        font-size: 30px;
    }

    .wrap h3 {
        font-size: 18px;
    }

    .timeline__item {
        width: 80%;
    }
}

@media screen and (max-width: 425px) {
    .box {
        width: 370px !important;
    }


    .bars .nav-bars ul {
        width: 300%;
    }

    .sliders__img-tagline h2 {
        font-size: 2rem;
    }

    .top-navbar .navbar .navbar-nav .nav-item .nav-link {
        line-height: 10px;
    }

    .dropdown-menu {
        position: absolute;
    }

    .top-navbar .navbar .navbar-nav .nav-link {
        font-size: 0.7rem;
    }

    .sliders__img-tagline a {
        font-size: 0.8rem;
        left: 0%;
    }

    .section__content-about {
        grid-template-rows: 230px 1fr 230px 1fr;
    }
}

@media screen and (max-width: 370px) {
    .box {
        width: 320px !important;
    }

    .pricing-table {
        height: 500px;
    }

}